// === Variables ===
// === Colors ===  
$color-blue: #3ca6d3fb
$color-white: #ffffff44


// === Fonts ===
@font-face 
    font-family: OpenSans
    src: url("/fonts/OpenSans-Bold.ttf")
@font-face 
    font-family: Roboto
    src: url("/fonts/Roboto-Regular.ttf")
// === Main Style ===
*
    box-sizing: border-box
body
    background-color: #000
    margin: 0
    padding: 0
.container
    padding-top: 43px
    height: 100vh
.header
    background: center / 100% no-repeat url("/img/header-bg.png") 
    height: 100vh

.navigation
    display: flex
    justify-content: space-between
    align-items: center
    height: 100px
    padding-left: 22px
    background-color: rgba(0, 0, 0, 0.322)
    & .logo
        width: 50px
        height: 50px
        background-color: $color-white
        position: relative
        margin-top: 8px
        &-rectangle
            position: absolute
            top: -8px
            left: -8px
            width: 50px
            height: 50px
            background-color: $color-blue
            & h1
                line-height: 50px
                margin: 0
                text-align: center
                font-family: OpenSans
                font-size: 20px
                color: #ffffff
    &-panel
        font-family: Roboto
        font-size: 16px
        height: 100%
        align-items: center
    &-pages
        padding-left: 0
        margin: 0
        height: 100%
        & li
            list-style: none
            padding: 10px 
            padding-top: 34px
            padding-bottom: 29px
            display: inline-flex
            justify-content: space-around
            transition: 0.2s ease
            border-bottom: 5px solid rgba(0,0,0,0)
            &:hover
                border-bottom: 5px solid $color-blue 
            & a 
                line-height: 32px
                text-decoration: none
                color: #ffffff
        
    &-icons 
        height: 100px
        padding: 35px 0 
        & ul
            padding: 0
            & li
                display: inline-block
                padding: 0 10px 
                justify-content: space-between
                list-style: none
                & a img
                    width: 30px
.links
    display: none

    